<div class="card pointer" style="width: 18rem;">
  <div class="card-body">
    <div class="card-img-actions">
      <img src="https://via.placeholder.com/250x250/5fa9f8/ffffff" class="card-image img-fluid d-none d-md-block rounded mb-2 shadow" alt="...">
    </div>
  </div>
  <div class="card-body bg-light text-center">
    <div class="mb-2">
      <h6>
        <a [routerLink]="['/product', product.pid]" class="text-default mb-2 pointer">{{ product.title }}</a>
      </h6>
      <a class="text-muted"> {{ product.category }} </a>
    </div>
    <h3 class="mb-0 font-weight-semibold">
      <li class="list-group-item"> {{ product.price | currency }} </li>
    </h3>
    <div>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
    </div>
    <div class="text-muted mb-3">34 reviews</div>  
    
    <button type="button" class="btn bg-cart" (click)="addToCart( product.pid )">
      <i class="bi bi-cart-plus-fill me-2"></i> Add to cart
    </button>  
  </div>
</div>