
  <app-breadcrumb></app-breadcrumb>

<hr>
<ul class="list-group">
  <li class="list-group-item pointer"
      [routerLink]="['/products']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="bi bi-bag me-2"></i>Productos</li>
  <li class="list-group-item pointer"
      [routerLink]="['/products/socket']"
      routerLinkActive="active"
      ><i class="bi bi-bag-x me-2"></i>Productos Socket</li>
  <li class="list-group-item pointer"
      [routerLink]="['/cart']"
      routerLinkActive="active"
    ><i class="bi bi-cart me-2"></i>cart</li>
  <li class="list-group-item pointer"
      [routerLink]="['/login']"
      routerLinkActive="active"
    ><i class="bi bi-door-open me-2"></i>Login</li>
</ul>