<form class="row g-3"
      [formGroup]="productForm"
      (ngSubmit)="createProduct()">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Titulo</label>
    <input type="text"
           class="form-control"
           formControlName="title"
           >
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Precio</label>
    <input type="number"
           class="form-control"
           formControlName="price"
           >
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Code</label>
    <input type="text"
           class="form-control"
           formControlName="code"
           >
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Stock</label>
    <input type="text"
           class="form-control"
           formControlName="stock"
           >
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Categoría</label>
    <input type="text"
           class="form-control"
           formControlName="category"
           >
    <!-- <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select> -->
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input"
             type="checkbox"
             formControlName="status"
             >
      <label class="form-check-label" for="gridCheck">
        Status
      </label>
    </div>
  </div>
  <div class="col-12">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control"
                rows="3"
                formControlName="description"
                ></textarea>
    </div>
  </div>
  <div class="col-12">
    <button type="submit"
            class="btn btn-primary"
            [disabled]="productForm.invalid"
            >Create</button>
  </div>
</form>