<div class="container">
  <div class="row">
    <div class="col-md-11 mt-60 mx-md-auto">
      <div class="login-box bg-white pl-lg-5 pl-0">
        <div class="row no-gutters align-items-center">
          <div class="form-wrap bg-white">
            <h4 class="btm-sep pb-3 mb-5">Register</h4>
            <form class="form" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="createUser()">
              <div class="row">
                <div class="col-12">
                  <div class="form-group position-relative">
                    <span class="zmdi zmdi-account">
                      <i class="bi bi-person-circle"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <div class="form-group position-relative">
                    <span class="zmdi zmdi-account">
                      <i class="bi bi-envelope-at"></i>
                    </span>
                    <input type="email" id="email" class="form-control" placeholder="Email Address" formControlName="email">
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <div class="form-group position-relative">
                    <span class="zmdi zmdi-email">
                      <i class="bi bi-asterisk fs-6"></i>
                    </span>
                    <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password">
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <div class="form-group position-relative">
                    <span class="zmdi zmdi-email">
                      <i class="bi bi-braces-asterisk"></i>
                    </span>
                    <input type="password" id="password" class="form-control" placeholder="Confirm password" formControlName="password2">
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <button type="submit" class="btn btn-dark btn-lg w-100">Sign Up
                  </button>
                </div>
                <div class="row">
                  <div class="col text-danger mt-3">
                      <p *ngIf="noValid('name')">El nombre es obligatorio</p>
                      <p *ngIf="noValid('email')">El email es obligatorio</p>
                      <p *ngIf="passwordInvalid()">Las contraseñas deben ser iguales</p>
                  </div>
                </div>
                <div class="form-group m-b-0">
                  <div class="col-sm-12 text-center">
                      Already have an account? <a [routerLink]="['/login']" class="text-info m-l-5"><b>Sign In</b></a>
                  </div>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>